#body{
    background-image: url("https://media.istockphoto.com/photos/colorful-background-picture-id1280385511?b=1&k=20&m=1280385511&s=170667a&w=0&h=4-KMkIqgyw2gTBMTBbYZVZoidwRsWZzr3q0xyUDYhas="); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.headline{
    
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 35vw;
    width: 30vw;
    color: antiquewhite;
}
.pictures{
    width: 50vw;
    height: 50vh;
}
.githubandimg{
    /* background-color: #cccccc; */
}
.githublogo{
    width: 5vw;
    height: 5vh;
    background-color: #cccccc;
    border: 2px solid orange;
}
.githublogo:hover{
    border: 2px solid lightskyblue;
}
.aboutme{
width: 30vw;
margin-left: 10vw;
}
.githubtext{
    color: antiquewhite;

    margin-top: 10vh;
    text-align: center;
    text-decoration: underline;
}
.border1{
font-size: 2vw;

} 
.mailogo{
 
}
.phonelogo{

}
.border2 {
    
    text-align: end;
    font-size: 2vw;
}
.progressBars{
    margin-top: 8vh;
}
.textUnderBars{
    color: antiquewhite;
    margin-top: 3vh;
    text-align: center;
}

.navbar{
    z-index: 1;
    /* margin-top: 8vh; */
}
.carousele{
    width: 2vw;
}