#navbar{
    position: fixed;
    top: 0px;
}
#body{
    
    
    
}
#githublogo{
    margin-left: 15vw;
}
#githubtext{
    margin-top: 3vh;
    width: 10vw;
    font-size: 1.5vw;
    padding-left: 4vw;
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    text-decoration: underline;
}

#ProgrammingLangs{
    margin-top: 20vh ;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#ProgressBars{
    
}
#ProggressPerntage{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#TextAndImg{
    margin-top: 2vw;
}

#PhoneLogo{

}
#PhoneLogo:hover{

}
#MaiLogo{

}
#MaiLogo:hover{

}
#iframes{
    margin-top: 20vh;
    text-align: center;
    
}
#line{
    margin-top: 10vh;
    margin-left: 18vw;
    width: 60vw;
    background-color: gray;
}
#line2{
    background-color: antiquewhite;
    margin-top: 25vh;
    margin-left: 18vw;
    width: 60vw;
    background-color: whitesmoke;
}

/*images*/
#img1{
height: 40vh;
}
#img2{
    height: 40vh;
}
#img3{
    height: 40vh;
}


.iframe1{

}

.iframe2{

}
.iframe3{


}


