.headline{
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.githublogo{
    width: 5vw;
    height: 5vh;
}
.githubtext{
    
    margin-top: 20vh;
    text-align: center;
    text-decoration: underline;
}
.border1{
font-size: 2vw;
} 
.border2 {
    text-align: end;
    font-size: 2vw;
}
.progressBars{
    margin-top: 3vh;
}
.textUnderBars{
    margin-top: 3vh;
    text-align: center;
}
