<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Montserrat:wght@100&family=Outfit:wght@200&family=Poppins:wght@200&family=Raleway&family=Roboto:ital,wght@1,300&family=Signika:wght@300&display=swap');
          </style>
     <style>


body{
    color: white;
    background-color: #090302;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;

}
.navbar{
    height: 15vh;
    
}
.links{
    text-align: center;
    
}
.links ul{
    padding-top:5vh ;
justify-content: space-evenly;
    display: flex;
    list-style: none;
    
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
  color: #E6F9AF;
}
.mail{
    text-align: center;
}
#mailogo:hover{
fill: #E6F9Ac;
}
.text_and_img{
    padding-top:20vh ;
    height: 80vh;
    font-size: 1.6vw;
    color: #E6F9AF;
}
.name{
    color: white;
    font: 10.5em 'Montserrat';
    font-size: 7.5vw;
    padding: 0%;
}



/*css animation-coding*/
:root {
         --orchid: #F92672;
         --br-blue: #66D9EF;
         --henn1nk: #A6E22E;
         --spice: #FD971F;
         --classColour: #E6F9Ac;
         --parColour: #F8F8F2;
   }
   .loader-container {
     width:41vw;
     height:60vh;
     margin:auto;
     overflow:hidden;
   }
   .line {
     margin-top:5px
   }
   .dash {
     height:20px;
     display: inline-block;
     border-radius: 10px
   }
   .div {
     background: var(--parColour);
   }
   .class-name {
     background: var(--parColour);
   }
   .class {
     background: var(--classColour);
   }
   .par {
     background: var(--parColour);
   }
   .exp-40 {
     animation: expand-40 0.2s linear forwards;
   }
   .exp-70 {
     animation: expand-70 0.2s linear forwards;
   }
   .exp-90 {
     animation: expand-90 0.2s linear forwards;
   }
   .exp-110 {
     animation: expand-110 0.2s linear forwards;
   }
   .exp-200 {
     animation: expand-200 0.2s linear forwards;
   }
   .exp-300 {
     animation: expand-300 0.2s linear forwards;
   }
   .line1 .dash-1 {
    animation-delay: 0.1s;
   }
   .line1 .dash-2 {
     animation-delay: 0.1s;
   }
   .line1 .dash-3 {
      animation-delay: 0.2s;
   }
   .line1 .dash-4 {
      animation-delay: 0.3s;
   }
   .line2 {
     margin-left:10%;
   }
   .line2 .dash-1 {
     animation-delay: 0.4s
   }
   .line2 .dash-2 {
     animation-delay: 0.5s
   }
   .line2 .dash-3 {
     animation-delay: 0.6s
   }
   .line3 {
     margin-left:20%;
   }
   .line3 .dash-1 {
     animation-delay: 0.7s
   }
   .line4 {
     margin-left: 20%
   }
   .line4 .dash-1 {
     animation-delay: 0.8s
   }
   .line5 {
     margin-left: 10%
   }
   .line5 .dash-1 {
     animation-delay: 0.85s
   }
   .line6 .dash-1 {
     animation-delay: 0.925s
   }
   .group-1 {
     animation: scroll 1s linear infinite;
     animation-delay: 1s;
     position:relative;
   }
   .group-2 {
     animation: scroll 1s linear infinite;
     animation-delay: 1s;
     position:relative;
   }
   .group-2 .line1 .dash-1 {
     animation: line1dash1 1s linear infinite;
   }
   .group-2 .line1 .dash-2 {
     animation: line1dash2 1s linear infinite;
   }
   .group-2 .line1 .dash-3 {
     animation: line1dash3 1s linear infinite;
   }
   .group-2 .line1 .dash-4 {
     animation: line1dash4 1s linear infinite;
   }
   .group-2 .line2 .dash-1 {
     animation: line2dash1 1s linear infinite;
   }
   .group-2 .line2 .dash-2 {
     animation: line2dash2 1s linear infinite;
   }
   .group-2 .line2 .dash-3 {
     animation: line2dash3 1s linear infinite;
   }
   .group-2 .line3 .dash-1 {
     animation: line3dash1 1s linear infinite;
   }
   .group-2 .line4 .dash-1 {
     animation: line4dash1 1s linear infinite;
   }
   .group-2 .line5 .dash-1 {
     animation: line5dash1 1s linear infinite;
   }
   .group-2 .line6 .dash-1 {
     animation: line6dash1 1s linear infinite;
   }
  
    /*keyframes for group2*/
   @keyframes line1dash1 {
       0% {
         width: 0px;
       }
       20% {
         width: 40px;
       }
       100% {
        width: 40px;
       }
   }
   @keyframes line1dash2 {
       0% {
         width: 0px;
       }
       10% {
         width: 0px;
       }
       30% {
        width: 70px;
       }
       100% {
        width: 70px;
       }
   }
   @keyframes line1dash3 {
       0% {
         width: 0px;
       }
       20% {
         width: 0px;
       }
       40% {
        width: 110px;
       }
       100% {
        width: 110px;
       }
   }
   @keyframes line1dash4 {
       0% {
         width: 0px;
       }
       30% {
         width: 0px;
       }
       50% {
        width: 70px
       }
       100% {
        width: 70px;
       }
   }
   @keyframes line2dash1 {
       0% {
         width: 0px;
       }
       40% {
         width: 0px;
       }
       60% {
        width: 40px
       }
       100% {
        width: 40px;
       }
   }
   @keyframes line2dash2 {
       0% {
         width: 0px;
       }
       50% {
         width: 0px;
       }
       70% {
        width: 70px
       }
       100% {
        width: 70px;
       }
   }
   @keyframes line2dash3 {
       0% {
         width: 0px;
       }
       60% {
         width: 0px;
       }
       80% {
        width: 90px
       }
       100% {
        width: 90px;
       }
   }
   @keyframes line3dash1 {
       0% {
         width: 0px;
       }
       60% {
         width: 0px;
       }
       80% {
        width: 300px
       }
       100% {
        width: 300px;
       }
   }
   @keyframes line4dash1 {
       0% {
         width: 0px;
       }
       70% {
         width: 0px;
       }
       90% {
        width: 200px
       }
       100% {
        width: 200px;
       }
   }
   @keyframes line5dash1 {
       0% {
         width: 0px;
       }
       75% {
         width: 0px;
       }
       85% {
        width: 40px
       }
       100% {
        width: 40px;
       }
   }
   @keyframes line6dash1 {
       0% {
         width: 0px;
       }
       85% {
         width: 0px;
       }
       100% {
        width: 40px;
       }
   }
   @keyframes expand-40 {
       from {
         width: 0px;
       }
       to {
         width: 40px;
       }
   }
   @keyframes expand-70 {
       from {
         width: 0px;
       }
       to {
         width: 70px;
       }
   }
   @keyframes expand-90 {
       from {
         width: 0px;
       }
       to {
         width: 90px;
       }
   }
   @keyframes expand-110 {
       from {
         width: 0px;
       }
       to {
         width: 110px;
       }
   }
   @keyframes expand-200 {
       from {
         width: 0px;
       }
       to {
         width: 200px;
       }
   }
   @keyframes expand-300 {
       from {
         width: 0px;
       }
       to {
         width: 300px;
       }
   }
  @keyframes scroll {
       from {
         top: 0px;
       }
       to {
         top: -175px;
       }
   }

/*ending*/

.aboutP{
  margin-top: 10vh;
  height: 100vh;
  background-color: #191919;
  margin-left: 0%;
}

.about_head{
  text-align: center;
  margin-top: 8vh;
  font-size: 2vw;
  font-family: raleway;
}
.about_head p{
  border-bottom: 0.2px solid #E6F9Ac;
}

.about_text p{
font-size: 1.6vw;
font-family: raleway;
}


.about_text h1{
  font-size: 2.15vw;
  
}
.about_text span{
  font-family: raleway;
  color: #E6F9Ac;
}
.about_text a{
  color: #E6F9Ac;
  text-decoration: none;
  border-bottom: 1px solid #E6F9Ac;
  font-family: raleway;
}


.about_image{
  text-align: right;
}


.skillsP{
  height: 100vh;
  margin-left: 0%;
  padding: 0%;
}

.skills_head{
  text-align: center;
  margin-top: 8vh;
  font-size: 2vw;
  font-family: raleway;
}

.skills_head p{
  border-bottom: 0.2px solid #E6F9Ac;
}

.skills_text{
  font-family: raleway;
}
.skills_text h1{
 font-size: 2.4vw;
 font-family: sans-serif;
}
.skills_text span{
  color: #E6F9Ac;
  font-family: raleway;
}
.skills_text p{
font-size: 1.4vw;
}

.bars{
  font-size:1.2vw;
  margin-top: 3vh;
}


.contact{
background-color:#191919;
height: 100vh;
padding-right: 0%;
font-family: raleway;
--bs-gutter-x: 0rem;
margin-top: 5vh;
}

.contact h2{
  font-family: sans-serif;
  font-size: 2.4vw;
}

.contact span{
  color: #E6F9Ac;
  font-family: raleway;
}
.contact_head{
  text-align: center;
  margin-top: 8vh;
}
.contact_head p{
  font-size: 2vw;
  border-bottom:2px solid #E6F9Ac;
}


.contact_text ul{
  margin-top: 3vh;
  list-style: none;
  padding: 0%;
}

.contact_words{
  font-size: 1.3vw;
}

.signs{
padding: 0%;

}







.copyyright{
  color: #E6F9Ac;
}
.copyyright:hover{
  text-decoration: underline;
}
        </style>
    </head>
    <body>

        <div class="row container-fluid navbar">
            <div class="col-3 logo"></div>
            <div class="col-6 links">
     <ul>
        <li><a href="http://localhost:3000/"><p>HOME</p></a></li>
         <li><a href="http://localhost:3000/#aboutP"><p>ABOUT</p></a></li>
         <li><a href="http://localhost:3000/#skillsP"><p>SKILLS</p></a></li>
         <li><a href="http://localhost:3000/#contact"><p>CONTACT</p></a></li>
     </ul>
            </div>
        

        <div class="col-3 mail">
            <svg id="mailogo" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg></div>
        </div>

        <div class="row container-fluid text_and_img">
            <div class="col-1"></div>
   <div class="col-5 headline">
       <div class="row container-fluid">
   <p>HELLO!, My name is</p>
</div>
<div class="row container name">
    <p>GIL ILO</p>
 </div>
 <div class="row container-fluid">
    <p>And I am a Full Stack Developer</p>
 </div>
</div>

<div class="col-1"> </div>

   <div class="col-5">
    <div class="loader-container">

      <div class="group-1">
        <div class="line line1">
          <div class="dash dash-1 exp-40 div"></div>
          <div class="dash dash-2 exp-70 class-name"></div>
          <div class="dash dash-3 exp-110 class"></div>
          <div class="dash dash-4 exp-70 class"></div>
        </div>
        <div class="line line2">
          <div class="dash dash-1 exp-40 div"></div>
          <div class="dash dash-2 exp-70 class-name"></div>
          <div class="dash dash-3 exp-90 class"></div>
        </div>
        <div class="line line3">
          <div class="dash dash-1 exp-300 par"></div>
        </div>
        <div class="line line4">
          <div class="dash dash-1 exp-200 par"></div>
        </div>
        <div class="line line5">
          <div class="dash dash-1 exp-40 div"></div>
        </div>
        <div class="line line6">
          <div class="dash dash-1 exp-40 div"></div>
        </div>
      </div>
    
    
      <div class="group-2">
        <div class="line line1">
          <div class="dash dash-1 div"></div>
          <div class="dash dash-2 class-name"></div>
          <div class="dash dash-3 class"></div>
          <div class="dash dash-4 class"></div>
        </div>
        <div class="line line2">
          <div class="dash dash-1 div"></div>
          <div class="dash dash-2 exp70 class-name"></div>
          <div class="dash dash-3 exp90 class"></div>
        </div>
        <div class="line line3">
          <div class="dash dash-1 par"></div>
        </div>
        <div class="line line4">
          <div class="dash dash-1 par"></div>
        </div>
        <div class="line line5">
          <div class="dash dash-1 div"></div>
        </div>
        <div class="line line6">
          <div class="dash dash-1 div"></div>
        </div>
      </div>
    </div>
   </div>
        </div>

<!-- about-section -->
        <div id="aboutP" class="row container-fluid aboutP">
          <div class="row container fluid about_head">
            <div class="col-5"></div>
            <div class="col-2"><p class="about_head_text">About me</p></div>
            <div class="col-5"></div>
          </div>

          <div class="row container-fluid about_text">
            <div class="col-1"></div>
            <div class="col-5">
              <h1>I'm Gil and I am a <span>Full Stack Developer</span></h1><br>
              <p>My name is Gil, Im an 17 year old from jerusalem and welcome to my portfolio.<br>
                  I specialize in Front End Development-"JS","HTML","CSS".<br>
                  currently, I am studiyng Back End Development-"node.js","npm".<br>
                 
    <br>
                  Want to see some of my works, <a href="https://github.com/gil926">press here</a>
              </p>
            </div>
            <div class="col-5 about_image">
              <svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              </svg>
            </div>
            <div class="col-1"></div>
          </div>
        </div>

        <!--skills section!-->
<div id="skillsP" class="row container-fluid skillsP">
    <div class="row container fluid skills_head">
      <div class="col-5"></div>
      <div class="col-2"><p class="skills_head_text">My skills</p></div>
      <div class="col-5"></div>
    </div>

<div class="row container-fluid skills_text">
    <div class="col-1"></div>
    <div class="col-5 ">
      <h1>My creative <span>skills & experiences.</span></h1>
      <p>In 2020 i managed to get accepted to a two year, spacial Full Stack course called "startapistim".<br>
      In the first year i studied mainly Front End Dev.<br>
      Now I am in my second year studiyng Back End Dev.<br><br>
    During the course, we were asked to develop a site to "clients",and answer their demands.<br>
    I was selected to be the head of the team,by that I learned how to work in a team
    and gained experience in commending a team.
      </p>
    </div>
    <div class="col-5">
<div class="row container-fluid bars">
  <div class="col-1 programming_langs">HTML</div>
  <div class="col-5"></div>
  <div class="col-5"></div>
  <div class="col-1 percentage">90%</div>
</div>
<div class="row container-fluid">
  <div class="progress" style="height: 0.2vh;margin: 0%;padding: 0%;">
    <div class="progress-bar" role="progressbar" style="width: 90%;background-color: #E6F9Ac;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>


    <div class="row container-fluid bars">
      <div class="col-1 programming_langs">Javascript</div>
      <div class="col-5"></div>
      <div class="col-5"></div>
      <div class="col-1 percentage">80%</div>
    </div>
    <div class="row container-fluid">
      <div class="progress" style="height: 0.2vh;margin: 0%;padding: 0%;">
        <div class="progress-bar" role="progressbar" style="width: 90%;background-color: #E6F9Ac;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    
    <div class="row container-fluid bars">
      <div class="col-1 programming_langs">Css</div>
      <div class="col-5"></div>
      <div class="col-5"></div>
      <div class="col-1 percentage">85%</div>
    </div>
    <div class="row container-fluid">
      <div class="progress" style="height: 0.2vh;margin-left: 0%;padding: 0%;">
        <div class="progress-bar" role="progressbar" style="width: 85%;background-color: #E6F9Ac;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    
    <div class="row container-fluid bars">
      <div class="col-1 programming_langs">Node.js</div>
      <div class="col-5"></div>
      <div class="col-5"></div>
      <div class="col-1 percentage">50%</div>
    </div>
    <div class="row container-fluid">
      <div class="progress" style="height: 0.2vh;margin-left: 0%;padding: 0%;">
        <div class="progress-bar" role="progressbar" style="width: 50;background-color: #E6F9Ac;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="row container-fluid bars">
      <div class="col-1 programming_langs">NPM</div>
      <div class="col-5"></div>
      <div class="col-5"></div>
      <div class="col-1 percentage">40%</div>
    </div>
    <div class="row container-fluid">
      <div class="progress" style="height: 0.2vh;margin-left: 0%;padding: 0%;">
        <div class="progress-bar" role="progressbar" style="width: 40%;background-color: #E6F9Ac;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    
  </div>

    <!--contact section!-->
    <div class="col-1"></div>
  </div>

</div>

<div id="contact" class="row container-fluid contact">
  <div class="row container fluid contact_head">
    <div class="col-5"></div>
    <div class="col-2"><p class="contact_head_text">Contact me</p></div>
    <div class="col-5"></div>
  </div>
 
  <div class="row container-fluid contact_text">
    <div class="col-1"></div>
    <div class="col-5 contact_words">
      <h2>Get in <span>touch</span></h2>
      <p>want to contact me?<br>Send me a massge to my mail and I will try to answer back, as quick as I can.</p>
  <div style="padding: 0%;" class="row container-fluid">
    <div class="col-1 signs">
        <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E6F9Ac" class="bi bi-person" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg>
  </div>
  <div class="col-11">
    <div style="padding: 0%;" class="row container-fluid"><h5>Name</h5></div>
    <div style="padding: 0%;" class="row container-fluid"><p>Gil ilo</p></div>
  </div>
</div>

<div style="padding: 0%;" class="row container-fluid">
  <div class="col-1 signs">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E6F9Ac" class="bi bi-geo-alt" viewBox="0 0 16 16">
      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
</div>
<div class="col-11">
  <div style="padding: 0%;" class="row container-fluid"><h5>Address</h5></div>
  <div style="padding: 0%;" class="row container-fluid"><p>Jerusalem, Israel</p></div>
</div>
</div>

<div style="padding: 0%;" class="row container-fluid">
  <div class="col-1 signs">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E6F9Ac" class="bi bi-envelope" viewBox="0 0 16 16">
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
    </svg>
</div>
<div class="col-11">
  <div style="padding: 0%;" class="row container-fluid"><h5>Mail</h5></div>
  <div style="padding: 0%;" class="row container-fluid"><p>gil89895@gmail.com</p></div>
</div>
</div>

<div style="padding: 0%;" class="row container-fluid">
  <div class="col-1 signs">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#E6F9Ac" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg>
</div>
<div class="col-11">
  <div style="padding: 0%;" class="row container-fluid"><h5>github</h5></div>
  <div style="padding: 0%;" class="row container-fluid"><a style="text-decoration:none; color:white;" href="https://github.com/gil926"><p style="padding:0%; color:#E6F9Ac">gil926</p></a></div>
</div>
</div>


    </div>
    <div class="col-5"></div>
    <div class="col-1"></div>
  </div>


</div>







<div style="text-align: center;" class="row container-fluid ">
  <div class="col-4"></div>
  <div class="col-4">
<p> Created By <span class="copyyright">GilIlo</span> |© 2022 All rights reserved.</p>
</div>
  <div class="col-4"></div>
  
</div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script></script>
    </body>
</html>